<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logLevel" source="logging.level" defaultValue="info"/>
    <springProperty scope="context" name="logPath" source="logging.file.path" defaultValue="/data/logs/config-client"/>

    <!--控制台日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [ %boldYellow(%thread)] [%highlight(%level)] %cyan(%logger{50}):%L - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--工程日志-->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/app-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/app-server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>32MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] %logger{50}:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- WARN级别以上日志分离出一个文件-->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/error/app-server-error.%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>256MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%level] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--指定日志输出等级-->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="WARN"/>
    </root>

    <logger name="com.firekcc" level="${logLevel}">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
